<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Link</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>


  <div class="container">
    <form action="/submit" method="post">
      <div>
        <textarea name="link" class="form-control" id="" cols="30" rows="10"></textarea>
      </div>
      <div><button type="submit" class="btn btn-success">Submit</button></div>
    </form>
  </div>


  <table class="table">
    <tr>
      <th>sl</th>
      <th>link</th>
      <th>button</th>
    </tr>

    {% for record in data %}
    <tr>
      <td>{{record.id}}</td>
      <td><a href="{{record.link}}" target="blank">{{record.link}}</a></td>
      <td>{{record.conn}}</td>
    </tr>
    {%endfor%}



    <!-- <tr>
      <td>1</td>
      <td><a href="https://www.linkedin.com/in/noman-farookhi-26877b283" target="blank">https://www.linkedin.com/in/noman-farookhi-26877b283</a></td>
      <td>30</td>
    </tr> -->
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>